<%- model_class = Comment -%>
<!-- <div class="page-header">
  <h2><%=t '.title', :default => model_class.model_name.human.pluralize %></h2>
</div> -->


<p>
  <% if @current_user %>
    <span class="spread-word">
      <%= link_to_if votable?(@link),"<i class=\"icon-thumbs-up\"></i>".html_safe,
        object_votes_path(@link),
        :method => :post %>
    </span>
  <% end %>


  <%= link_to @link.title, @link.url %>
</p>

<p class="indent">
    <%= pluralize(@link.vote_count, 'pt') %> 
  <span class="spread-word">            
    <%= " | " %>
  </span>
    <%="by: #{@link.user.username} " %>
  <span class="spread-word">            
    <%= " | " %>
  </span>
    <%= "#{time_ago_in_words(@link.created_at)} ago" %>
  <span class="spread-word">            
    <%= " | " %>
  </span> 
    <%= link_to "#{@link.comment_count} comments", link_comments_path(@link) %>
</p>

<% if session[:user_id] %>
  <%= render 'form' %>
<% end %>

<%= render 'layouts/sort_links' %>

<% if @nested_comments %>
  <% @nested_comments.each do |comment| %>
    <% if comment.is_a? Array %>
      <% comment.each do |child_comment| %>
        <div class="nested-comment">
          <p>
            <% if @current_user %>
              <span class="spread-word">
                <%= link_to_if votable?(child_comment), "<i class=\"icon-thumbs-up\"></i>".html_safe,object_votes_path(child_comment), :method => :post %>
              </span>
            <% end %>
            <%= "by #{child_comment.user.username}" %>
            <span class="spread-word">
              <%= " | " %>
            </span>
            <%= "#{time_ago_in_words(child_comment.created_at)} ago" %>
          </p>
          <p>
            <span class="indent"><%= child_comment.body %></span>
          </p>
          <p>
            <% if session[:user_id] == child_comment.user.id and child_comment.editable? %>
              <%= link_to "Edit", edit_link_comment_path(@link, child_comment) %>
            <% end %>
          </p>
        </div>
      <% end %>
    <% else %>
      <div class="comment">
        <p>
          <% if @current_user %>
            <span class="spread-word">
              <%= link_to_if votable?(comment),
                         "<i class=\"icon-thumbs-up\"></i>".html_safe, object_votes_path(comment),
                         :method => :post %>
            </span>
          <% end %>
          <%= "by #{comment.user.username}" %> 
          <span class="spread-word"><%= " | " %></span>
          <%= "#{time_ago_in_words(comment.created_at)} ago" %> 
        </p>

        <div class="indent">
        <p>
          <%= comment.body %>
        </p>

        <p>
          <small><%= link_to "Reply", new_comment_reply_path(@link, comment.id) %></small>
          <% if session[:user_id] == comment.user.id and comment.editable? %>
              <small><%= link_to "Edit", edit_link_comment_path(@link, comment) %></small>
          <% end %>
        </p>
      </div>
      </div>
    <% end %>
  <% end %>
<% end %>

