<%- model_class = Comment -%>
<div class="page-header">
  <h2><%=t '.title', :default => model_class.model_name.human.pluralize %></h2>
</div>

<table class="table table-striped">
  <tbody>
    <tr>
      <td><%= link_to_if @link.votable?(session[:user_id]), "<i class=\"icon-thumbs-up\"></i>".html_safe,
              link_votes_path(@link),
              :method => :post %></td>
      <td><%= @link.points %> pts</td>
      <td><%= link_to @link.title, @link.url %></td>
      <td><%= @link.user.username %></td>
      <td><%= time_ago_in_words(@link.created_at) %> ago</td>
      <td><%= @link.comment_count %> comments</td>
    </tr>
  </tbody>
</table>

<% if session[:user_id] %>
  <%= render 'form' %>
<% end %>

<% if @nested_comments %>
  <table class="table table-striped">
    <tbody>
      <% @nested_comments.each do |comment| %>
        <% if comment.is_a? Array %>
          <% comment.each do |child_comment| %>
            <tr class="span9">
              <td>
                <div class="span2">
                    <small><%= "by #{child_comment.user.username} |
                                #{time_ago_in_words(child_comment.created_at)}" %> ago
                    </small><br />
                </div>
                <div class="span5"><%= child_comment.body %></div>
                <div class="pull-right span1">
                <% if session[:user_id] == child_comment.user.id and child_comment.editable? %>
                    <small><%= link_to "Edit", edit_link_comment_path(@link, child_comment),
                                :class => "span1" %></small>
                <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        <% else %>
        <tr>
          <td>
            <div class="span2">
                <small><%= "by #{comment.user.username} | #{time_ago_in_words(comment.created_at)}" %> ago</small><br />
            </div>
            <div class="span5"><%= comment.body %></div>
            <div class="span1">
              <small><%= link_to "Reply", new_comment_reply_path(@link, comment.id) %></small>
            </div>
            <div class="pull-right span1">
            <% if session[:user_id] == comment.user.id and comment.editable? %>
                <small><%= link_to "Edit", edit_link_comment_path(@link, comment),
                            :class => "span1" %></small>
            <% end %>
            </div>
          </td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>

