<%- model_class = Comment -%>
<div class="page-header">
  <h2><%=t '.title', :default => model_class.model_name.human.pluralize %></h2>
</div>

<table class="table table-striped">
  <tbody>
    <tr>
      <td><%= link_to_if @link.votable?(session[:user_id]), "<i class=\"icon-thumbs-up\"></i>".html_safe,
              link_votes_path(@link),
              :method => :post %></td>
      <td><%= @link.points %> pts</td>
      <td><%= link_to @link.title, @link.url %></td>
      <td><%= @link.user.username %></td>
      <td><%= time_ago_in_words(@link.created_at) %> ago</td>
      <td><%= @link.comment_count %> comments</td>
    </tr>
  </tbody>
</table>

<% if session[:user_id] %>
  <%= render 'form' %>
<% end %>

<% if @comments %>
  <table class="table table-striped">
    <tbody>
      <% @comments.each do |comment| %>
        <tr>
          <td>
              <div class="span2">
                  <small><%= "by #{comment.user.username} | #{time_ago_in_words(comment.created_at)}" %> ago</small><br />
              </div>
              <div class="span5"><%= comment.body %></div>
              <% if session[:user_id] == comment.user.id and comment.editable? %>
                  <small><%= link_to "Edit", edit_link_comment_path(@link, comment),
                              :class => "span1" %></small>
              <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
