<%- model_class = Link -%>

<!-- <div class="sort_links">
  <p> 
    <%= "sort by:  " %>
    <span class="spread-word">
    <%= link_to "popular", {:controller => "links", :action => "index", :order_by => "points"} %>
    <%= " | " %>
    <%= link_to "recent", {:controller => "links", :action => "index", :order_by => "created_at"} %>
  </span>
  </p>
</div> -->
  <%= render 'layouts/sort_links' %>

 
  <% @links.each_with_index do |link, index| %>
    <div class="data-link">
      <p>
        <span class="spread-word">
          <%= "#{index + 1}." %>
          <%= link_to_if link.link_votable?(session[:user_id]), "<i class=\"icon-thumbs-up\"></i>".html_safe,
                object_votes_path(link), :method => :post %>
        </span>

        <%= link_to link.title, link.url %>

        <% if session[:user_id] == link.user.id %>  
            <span class="spread-word">
              |
              <%= link_to "edit", edit_link_path(link.id) %>
              |
              <%= link_to "delete", link_path(link),
                      :method => :delete,
                      :data => { :confirm => t('.confirm',
                                 :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>
            </span>
        <% end %>
      </p>
      <div class="indent">
        <p>
            <%= link.points %> pts.
          <span class="spread-word">            
            <%= " | " %>
          </span>
            <%="by: #{link.user.username} " %>
          <span class="spread-word">            
            <%= " | " %>
          </span>
            <%= "#{time_ago_in_words(link.created_at)} ago" %>
          <span class="spread-word">            
            <%= " | " %>
          </span> 
            <%= link_to "#{link.comment_count} comments", link_comments_path(link) %>
        </p>

  <!--         <% if session[:user_id] == link.user.id %>
                <%= link_to "<i class=\"icon-pencil\"></i>".html_safe,
                        edit_link_path(link.id), :class => 'btn btn-mini' %>
                <%= link_to "<i class=\"icon-remove\"></i>".html_safe,
                        link_path(link),
                        :method => :delete,
                        :data => { :confirm => t('.confirm',
                                   :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>
          <% end %>
   -->  
        </p>

      </div>
    </div>
  <% end %>



<%= paginate @links %>
